<!DOCTYPE html>
<html>
<head>
  <title>Account Registration</title>
  <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
</head>
<body>
  <header>
    <!-- Navbar content -->
    <ul class="navbar">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/FuelQuoteForm">Fuel Quote Form</a> </li>
      <li><a href="/FuelPurchaseHistory">Fuel Purchase History</a></li>
      <li><a href="/ProfileManager">Profile Manager</a></li>
      <li><a href="/index">Profile</a></li>
    </ul> 
  </header>

  <h1>Purchase History</h1>

  <form class="" action="#" method="get">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <input type="submit" value="Search">
  </form>

  <h2>Past Purchase History</h2>
<div id="purchase_history">
  <% if (user.purchaseHistory && user.purchaseHistory.length > 0) { %>
    <ol>
      <% user.purchaseHistory.forEach(purchase => { %>
        <div class="purchase-item">
          <p>Delivery Date: <%= new Date(purchase.deliveryDate).toLocaleDateString() %></p>
          <p>Delivery Address: <%= purchase.deliveryAddress %></p>
          <p>User: <%= user.name %></p>
          <p>Number of Gallons Purchased: <%= purchase.gallons %> Gallons</p>
          <p>Price per Gallon: <%= purchase.pricePerGallon %></p>
          <p>Total Cost: <%= (purchase.gallons * purchase.pricePerGallon).toFixed(2) %></p>
          
        </div>
      <% }); %>
    </ol>
  <% } else { %>
    <p>No purchase history found.</p>
  <% } %>
</div>
</body>
</html>
